*
  box-sizing: border-box;
body
  color: #000000
  background-color: #ffffff
  font-size: 16px
  line-height: 1.5

a
  &:visited
  &:link
  &:active
    color: #000000
    text-decoration: none
  &:hover
    color: #000000
    text-decoration: underline

.mt-byline
  time
    font-size: .75em
    position: absolute
    top: 2.6em
    left: 0
    display: block
    width: 8.5em
    padding: .6em .55em
    margin-bottom: 1.5em
    background: #e8e8e8
    color: #3e433e
    font-style: italic
    text-align: center