extends layout

block content
    div(id="mattro-timeline" class="main-content")
        article.mt-item
            .mt-category
                a(href="#") Category 1
            .mt-content
                h2 Ricebean black-eyed pea
                .mt-byline
                    time(class="mt-time" datetime="2013-04-10 18:30")
                        span 10 minutes ago
                    | by
                    a(href="#") Ciccibus Prime

                p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed
                | into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could
                | see his brown belly, slightly domed and divided by arches into stiff sections.

        article.mt-item
            .mt-category
                a(href="#") Category 2
            .mt-content
                h2 Ricebean black-eyed pea
                .mt-byline
                    time(class="mt-time" datetime="2013-04-10 18:30")
                        span 12 minutes ago
                    | by
                    a(href="#") Ciccibus Prime
                p The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced
                | by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex!
                | Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump;
                | dozy fowl quack. Quick wafting zephyrs vex bold Jim. Quick zephyrs blow, vexing daft Jim.

        article.mt-item
            .mt-category
                a(href="#") Category 1
            .mt-content
                h2 Ricebean black-eyed pea
                .mt-byline
                    time(class="mt-time" datetime="2013-04-10 18:30")
                        span 14 minutes ago
                    | by
                    a(href="#") Ciccibus Prime
                p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                | the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                | language ocean.